USE [master]
GO
/****** Object:  Database [Omega]    Script Date: 08/21/2018 5:19:33 PM ******/
CREATE DATABASE [Omega]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Omega', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Omega.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Omega_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Omega_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Omega].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Omega]
GO
USE [Omega]
GO
/****** Object:  Table [dbo].[Dificultad]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificultad](
	[IdDificultad] [int] IDENTITY(1,1) NOT NULL,
	[NombreDificultad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Dificultad] PRIMARY KEY CLUSTERED 
(
	[IdDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juego]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juego](
	[IdJuego] [int] IDENTITY(1,1) NOT NULL,
	[NombreJuego] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Juego] PRIMARY KEY CLUSTERED 
(
	[IdJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JuegoDificultad]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JuegoDificultad](
	[IdJuego] [int] NOT NULL,
	[IdDificultad] [int] NOT NULL,
 CONSTRAINT [PK_JuegoDificultad_1] PRIMARY KEY CLUSTERED 
(
	[IdJuego] ASC,
	[IdDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[Puntuacion] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Jugador] [varchar](50) NOT NULL,
	[IdJuego] [int] NOT NULL,
	[IdDificultad] [int] NOT NULL,
 CONSTRAINT [PK_Actividad] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[FechaBloqueo] [datetime] NULL,
	[Eliminado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JuegoDificultad]  WITH CHECK ADD  CONSTRAINT [FK_DificultadJuego_Dificultad] FOREIGN KEY([IdDificultad])
REFERENCES [dbo].[Dificultad] ([IdDificultad])
GO
ALTER TABLE [dbo].[JuegoDificultad] CHECK CONSTRAINT [FK_DificultadJuego_Dificultad]
GO
ALTER TABLE [dbo].[JuegoDificultad]  WITH CHECK ADD  CONSTRAINT [FK_DificultadJuego_Juego] FOREIGN KEY([IdJuego])
REFERENCES [dbo].[Juego] ([IdJuego])
GO
ALTER TABLE [dbo].[JuegoDificultad] CHECK CONSTRAINT [FK_DificultadJuego_Juego]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_JuegoDificultad] FOREIGN KEY([IdJuego], [IdDificultad])
REFERENCES [dbo].[JuegoDificultad] ([IdJuego], [IdDificultad])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_JuegoDificultad]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarUsuarios]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_BuscarUsuarios]
@nombre varchar(50)
as
select IdUsuario,NombreUsuario,Contraseña,isnull(FechaBloqueo,0) as FechaBloqueo,Eliminado from Usuario where NombreUsuario = @nombre
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarBloqueo]    Script Date: 08/21/2018 5:19:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertarBloqueo]
@fecha datetime, @id int
as
update Usuario set FechaBloqueo = @fecha where IdUsuario = @id
GO
USE [master]
GO

insert into Usuario(NombreUsuario,Contraseña,FechaBloqueo,Eliminado) values ('Cami','81dc9bdb52d04dc20036dbd8313ed055',null,0)--la contraseña es 1234